body {
  margin: 0;
  overflow-x: hidden;
  height: 150vh;
  font-family: "Clash Grotesk";
}
/* NAVBAR */
.nav-bar {
  display: flex;
  background-color: #fff;
  padding: 1% 0% 0% 5%;
  border-bottom: 1px solid grey;
  height: 82px;
  gap: 30%;
  box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.19);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.nav-ul a {
  text-decoration: none;
}
.nav-ul li {
  list-style-type: none;
  font-size: 18px;
  color: #5fbc4d;
}
.nav-items ul {
  display: flex;
  gap: 50px;
}
.nav-btn {
  margin-bottom: 1.5em;
}
.nav-btn button {
  cursor: pointer;
  display: flex;
  width: 9vw;
  gap: 20px;
  font-size: 18px;
  color: #5fbc4d;
  background: none;
  border: none;
  outline: none;
}
.nav-btn i {
  position: relative;
  top: 0.7em;
  right: 1em;
}
.nav-dropdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  display: none;
  position: absolute;
  width: 15vw;
  color: #202223;
  padding: 8px 8px 8px 8px;
  border-radius: 8px;
  box-shadow: 0px 3px 6px -3px rgba(23, 24, 24, 0.08),
    0px 8px 20px -4px rgba(23, 24, 24, 0.12);
}
.nav-dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.nav-dropdown a:hover {
  background-color: #f1f1f1;
}
.nav-btn:hover .nav-dropdown {
  display: block;
}
.btn {
  padding: 15px 23px;
  border-radius: 5.65px;
  border: none;
  color: white;
  background: linear-gradient(to right, #96c0ff 0%, #5fbc4d 100%);
  background-size: 200% 100%;
  transition: background-position 0.3s ease-in-out;
}
.btn1 {
  padding: 15px 23px;
  border-radius: 5.65px;
  border: none;
  color: #0047b3;
  background: linear-gradient(to right, #fff 0%, blue 100%);
  background-size: 200% 100%;
  transition: background-position 0.3s ease-in-out;
}
.btn:hover {
  background-position: -100% 0;
  cursor: pointer;
}
.btn1:hover {
  background-position: -100% 0;
  color: #fff;
  cursor: pointer;
}
.nav-dropdown div {
  margin-bottom: 10px;
}
.nav-btn:hover + .nav-dropdown {
  display: block;
}

/* First Section */
.home-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/svgs/black-female-doctor.png") no-repeat center fixed;
  background-size: cover;
  min-height: 130vh;
  background-size: cover;
  color: white;
}
.home-section h3 {
  font-size: 48px;
  font-weight: 600;
  font-family: "Clash Grotesk";
  position: relative;
  top: 13.5em;
  left: 10%;
}
.home-section button {
  position: relative;
  top: 45em;
  left: 10%;
}

/* TRAINING */
.training {
  margin-top: 5%;
  margin-left: 10%;
  width: 75%;
  font-size: 18px;
  color: #19345c;
  font-weight: bold;
}
.training li {
  margin-bottom: 1%;
}
/* QUESTIONS */
.questions {
  margin-left: 10%;
  margin-bottom: 4%;
}
.questions h3 {
  font-size: 25px;
  color: #19345c;
}
.faq-item {
  background-color: blue;
  padding: 2%;
  border-radius: 12px;
  color: #fff;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 84%;
}
.faq-item.clicked {
  background-color: #f4f2f2;
  color: black;
}
.faq-item.clicked .dropdown-icon {
  transform: rotate(180deg);
}
.question {
  font-weight: bold;
  cursor: pointer;
}
.d1 {
  margin-left: 56%;
}
.d2 {
  margin-left: 55.5%;
}
.d3 {
  margin-left: 27.5%;
}
.answer {
  display: none;
  padding: 10px;
  background-color: #f4f2f2;
  font-size: 17px;
  transition: display 0.3s, background-color 0.3s;
}

/* INFORMATION */
.info-container {
  margin-top: 2%;
  background-color: #f4f2f2;
  padding-bottom: 4%;
}
.info {
  display: flex;
  gap: 4%;
  margin-left: 10%;
  padding-top: 2%;
}
.info-about,
.info-service,
.info-training,
.info-contact {
  display: flex;
  flex-direction: column;
}
.info-about {
  width: 10%;
}
.info-address {
  font-size: 15px;
  color: #15478c;
  width: 18%;
}
.info-address h5 {
  font-size: 19px;
  margin-bottom: 2px;
}
.info-address img {
  width: 75%;
}
.info-about,
.info-service,
.info-training {
  gap: 6%;
}
.info-about h5,
.info-service h5,
.info-training h5 {
  margin-top: 15px;
  margin-bottom: 2px;
  font-size: 17px;
  color: #15478c;
}
.info-training {
  width: 10%;
}
.info-contact h5 {
  margin-top: 15px;
  margin-bottom: 2px;
  font-size: 23px;
  font-weight: 600;
  color: #15478c;
  width: 80%;
}
.info-about span,
.info-service span,
.info-training span,
.info-contact {
  font-size: 15px;
  color: #15478c;
}
.info-contact button {
  width: 50%;
}
.hr {
  width: 70%;
  margin-left: 0.1%;
  color: #15294b;
}
/* FOOTER */
.footer {
  display: flex;
  background-color: #15294b;
  color: #fff;
  justify-content: space-around;
  padding: 2.4%;
}
.footer a {
  color: #fff;
}
.whatsapp {
  position: fixed;
  bottom: 6%;
  right: -30%;
  display: flex;
  flex-direction: column;
  z-index: 10;
}
.whatsapp span {
  color: #268c15;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}
.whatsapp img {
  width: 10%;
}

@media (min-width: 1368px) {
  .d1 {
    margin-left: 68%;
  }
  .d2 {
    margin-left: 67.5%;
  }
  .d3 {
    margin-left: 48%;
  }
}
